<nav [class]="">
  <ul>
    <li>
      <a
        [routerLink]="['/home']"
        [routerLinkActive]="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/about']"
        [routerLinkActive]="active"
        ariaCurrentWhenActive="page"
        >About</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/courses']"
        [routerLinkActive]="active"
        ariaCurrentWhenActive="page"
        >Courses</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/instructors']"
        [routerLinkActive]="active"
        ariaCurrentWhenActive="page"
        >Instructors</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/log-in']"
        [routerLinkActive]="active"
        ariaCurrentWhenActive="page"
        >Log In</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/register']"
        [routerLinkActive]="active"
        ariaCurrentWhenActive="page"
        >Register</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/contact']"
        [routerLinkActive]="active"
        ariaCurrentWhenActive="page"
        >Contact</a
      >
    </li>
  </ul>
</nav>
